/* contact.css */

/* Container style */
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Heading style */
  .contact-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Label style */
  .contact-label {
    font-weight: bold;
  }
  
  /* Input style */
  .contact-input,
  .contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in width */
  }
  
  /* Submit button style */
  .contact-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Submit button hover style */
  .contact-submit:hover {
    background-color: #0056b3;
  }
  