/* CSS */

.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center; /* Center align the content */
    border: 2px solid #ccc; /* Add border */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    text-align: center; /* Center align the form */
  }
  
  .labelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .labelContainer label {
    margin-bottom: 10px;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff; /* Blue */
    color: #fff; /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.inputContainer {
  margin-bottom: 20px;
}

.inputContainer .content {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  resize:none; /* Allow vertical resizing */
  box-sizing: border-box;
}